


/* About Section */
.about {

    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--sec-bg-color);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 1rem 0;
    gap: 2rem; /* Add gap for space between containers */
}
    
.about .about-container .about-content {
    grid-area: auto;
    justify-content: center;
}

.about .about-container .about-content .content-one {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: justify;
}

.about .about-container .about-content .content-two {
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 600;
}

.about .about-container .about-image {
    align-items: center;
    display: flex;
    gap: 1rem;
    grid-area: auto; /* Change grid area to auto to allow content and image to stack */
    margin-top: 1rem; /* Add margin top for spacing between image and content */
}

.about .about-container .about-image img {
    cursor: pointer;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.about .about-container .about-image img:hover {
    transform: rotate(90deg); /* Rotate image when hovered */
}


section {
    min-height: 90vh;
    padding: 10rem 9% 2rem;
}