
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



:root {
    --font-heading: crimson;
    --para-font: #777777;
    --black: #222222;
    --bg: rgba(237, 28, 70);
    --white: #fff;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

.header {
    height: 100vh;
    background-image: url(wallpaper.jpg);
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}

.logo span {
    color: var(--bg);
}

nav .links a {
    color: black;
    font-size: 1.5rem;
    margin-right: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
}

nav .links a:after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s;
}

nav .links a:hover::after {
    width: 100%;
}
.header .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding: 150px 7%;
    color: var(--white);
}
.header .content .description{
    grid-area: 1 / 1 / 2 / 2;
}
.header .content .description h3 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3rem 0;
}

.header .content .description h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

.header .content .description .btn {
    padding: 1.3rem 5rem;
    margin: 3rem 0;
    cursor: pointer;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    border: 0.3rem solid var(--font-heading);
    border-radius: 7px;
    background: none;
    transition: all linear 0.5s;

}

.header .content .description .btn:hover {
    background: var(--bg);
    color: var(--white);
    transform: translate(0px, -3px);
}

.header .content .partnership{
    grid-area: 1 / 2 / 2 / 3;
    

}
.header .content .partnership-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}
.header .content .partnership-content .div1{
    padding: 30px;
    grid-area: 1 / 1 / 2 / 2;
    width: 350px;
    
}
.header .content .partnership-content .div1 h1{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;

}
.header .content .partnership-content .div1 h3{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;

}

.header .content .partnership-content .div1 p{
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: left;

}

.header .content .partnership-content .div2{
    grid-area: 1 / 2 / 2 / 3;
   
}
.header .content .partnership-content .div2 img{
    margin-top: 40px;
    padding: 30px;
}

.product .product_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}
.product .product_container .product_description { 
    grid-area: 1 / 1 / 2 / 2;
}
.product .product_container .product-content { 
    grid-area: 1 / 2 / 2 / 3;
}
        





.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}
.team .heading {
    font-size: 5rem;
    text-align: center;
}
.team .heading span{
    color: var(--font-heading);
}

.team .heading-description {
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.6rem;
    font-weight: 300;
}
.team .container .team-box {
    width: auto;
    cursor: pointer;
}

.team .container .team-box .team-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    transition: all linear 0.5s;
}

.team .container .team-box .team-img:hover {
    box-shadow: 0px 0px 10px 0px red;
}

.team .container .team-box .team-img img {
    width: 100%;
}

.team .container .team-box .team-img:hover img {
    transform: scale(1.1);
}

.team .container .team-box .team-content {
    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    text-align: center;
    width: 80%;
    position: relative;
    top: -10%;
    z-index: 2;
    background: var(--white);
    left: 10%;
    border-radius: 0.8rem;
}

.team .container .team-box .team-content h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1.2rem 0;

}

.team .container .team-box .team-content p {
    font-size: 1.5rem;
    padding: 1.2rem 0;
}

.team .container .team-box .team-content .social a {
    display: inline-block;
    margin: 0.7rem;
    width: 4rem;
    height: 4rem;
    background: var(--bg);
    color: var(--white);
    line-height: 4rem;
    font-size: 1.5rem;
}

.team .container .team-box .team-content .social a:hover {
    border-radius: 100%;
}

.team .container .team-box:hover .team-content {
    transform: translateY(-1rem);
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}
    
.contact .contact_description { 
    grid-area: 1 / 1 / 2 / 2;
    margin-top:40px ;
    padding: 20px;
}
.contact .contact_description h1{
    font-size: 5rem;
    color:var(--font-heading);
}
.contact .contact_description h3{
    text-align: justify;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
}
.contact .contact_description h3 span{
    font-size: 2.5rem;
    color: var(--font-heading);
}
.contact .contact_description p{
    font-size: 2.5rem;
    margin-top: 40px;
    text-align: justify;


}

.contact .contact_form { 
    grid-area: 1 / 2 / 2 / 3;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact .contact_form h2 {
    margin-top: 10px;
    font-size: 3rem;
    color:var(--font-heading);
}
.contact .contact_form label{
    margin-top: 10px;
    font-size: 1.9rem;
}
.contact .contact_form input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.contact .contact_form textarea {
    height: 120px;
}
.contact .contact_form input[type="submit"] {
    background-color: var(--font-heading);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.footer {
    width: 100%;
    height: auto;
    background-color: var(--font-heading);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

.footer .container .footer-box {
    padding: 1rem;
}

.footer .container .footer-box h3 {
    color: var(--white);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

.footer .container .footer-box p {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    padding: 1.2rem 0;
}

.footer .container .footer-box form input {
    width: 70%;
    padding: 1rem;
}

.footer .container .footer-box p a {
    color: var(--bg);
}

.footer .container .footer-box form button {
    background: var(--bg);
    color: var(--white);
    padding: 1rem;
    cursor: pointer;
}
.footer .container .footer-box  ul a {
    
    margin-top: 10px;
    display: block;
    color: var(--white);
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    
}

.social a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fcf0ff;
    margin:0 10px 10px 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.social a:hover {
    background-color: #fcf0ff;
    color: rgb(250, 138, 250);
}